h1{
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
<<<<<<< HEAD
    background-color: coral;
=======

    background-color: coral;

>>>>>>> f4a53e331cd42ba54a36372b3e0eca5abdf3ddb1
    color: black;
}
p{
    color: brown;
}
.special{
    border: 5px solid red;
    background-color: beige;
}